*{
  margin: 0;

}

.app-header{
  background: red;
  padding: 5px;
  border: 1px solid black;
  text-align: center;
}

.container{
  display: flex;
}

.content{
  flex:1;
  padding:0 15px;
}

.left-menu{
  min-width: 250px;
  border-right: 1px solid #ddd;
}


.left-menu ul{
  list-style: none;
    text-align: left;
    padding:0
}

.left-menu ul>li{
  padding: 10px;
}

.left-menu ul>li>a{
  text-decoration: none;
  color:#000;
}

.left-menu ul>li.active{
  background:#ffa5004d;
  border-right:3px solid orange;
}



.cart-menu{
  min-width: 250px;
  border-left: 1px solid #ddd;
}


.list-item-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list-item-container> .list-item-content{
  flex:1
}
.list-item-container> .list-item-content >h1.title{
  font-size: 18px;
}

.list-item-container>.list-item-content >h1.price{
  font-size: 16px;
  font-weight: bold;
}